/*CSS*/

@import url("https://necolas.github.io/normalize.css/latest/normalize.css");

* {
    font-family: sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    max-width: 1500px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

#header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: green;
    border-color: #7a7a7a;
    border: 0 0 1px 0;
    background-color: #212121;
}

#sessionInfo {
    display: flex;
    margin:auto 15px auto 0;
    color:#636363;
    padding:6px 10px 0 0;
    transition: color .25s;
    font-size:13px;
}

#username {
    /* margin-top: 6px;
    margin-right: 20px; */
}

#pageTitle h1 {
    color: white;
    font-size: 20px;
    padding:5px 0 0 20px;
    font-weight: 700;
    display:inline-block;
}

#pageTitle h2 {
    color: #b5b5b5;;
    display:inline-block;
    font-size: 20px;
    padding-left:20px;
    font-weight:100;
    height:20px;
}

#leaveGame {
    margin:auto 15px auto 0;
    display:flex;
    text-decoration: none;
}

#leaveGame div {
    color:#636363;
    padding:6px 10px 0 0;
    transition: color .25s;
    font-size:13px;
}

#leaveGame svg {
    fill:#636363;
    height:20px;
    width:20px;
    padding-right:10px;
    transition: fill .25s;
    margin: 3px 0 0 0;
}

#leaveGame:hover svg {
    fill:#e3e3e3;
}

#leaveGame:hover div {
    color: #e3e3e3;
}

#logout {
    margin:auto 15px auto 0;
    display:flex;
    text-decoration: none;
}

#logout div {
    color:#636363;
    padding:6px 10px 0 0;
    transition: color .25s;
    font-size:13px;
}

#logout svg {
    fill:#636363;
    height:20px;
    width:20px;
    padding-right:10px;
    transition: fill .25s;
    margin: 3px 0 0 0;
}

#logout:hover svg {
    fill:#e3e3e3;
}

#logout:hover div {
    color: #e3e3e3;
}

#screenSpace {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
    background-color: #595959;
    background: 
  repeating-linear-gradient(
    45deg,
    #4d4d4d,
    #4d4d4d 5px,
    #595959 5px,
    #595959 10px
  );
    display: flex;
    justify-content: center;
}

#leftScreenSpace {
    width: 100%;
}

#playSpace {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#turnIndicator {
    line-height: 30px;
    width: 160px;
    border-radius: 20px;
    z-index: 3;
    text-align: center;
    color: white;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3);
    transition: background-color 1s;
    transition: padding .1s;
}

.turn {
    background-color: #3464eb;
}

.gameOver {
    background-color: #f03b00;
}

.gameOver a {
    text-decoration: none;
    color: white;
}

.gameOver:hover {
    padding: 5px;
}

.shake1 {
    animation-name: shake1;
    animation-duration: .3s;
    animation-iteration-count: 1;
}

.shake2 {
    animation-name: shake2;
    animation-duration: .3s;
    animation-iteration-count: 1;
}

#gameContainer {
    border: 2px solid #757575;
    border-radius:5px;
    display: block;
    padding: 15px;
    z-index: 2;
    background-color: #e2e2e2;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3);
}

#gameContainer.active {}

#gameContainer.inactive {}

#gameLog {
    margin: 15px;
    border-radius: 5px;
    min-width: 200px;
    width: 300px;
    max-height:100%;
    padding: 10px 20px 20px 20px;
    background-color: #212121;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid #7a7a7a;
}

#gameLogHeader {
    display: flex;
    justify-content: space-between;
}

#gameLogHeader h2 {
    margin-bottom: 10px;
    font-size:20px;
}

#messenger {
    flex-grow: auto;
    display: inline-block;
    height: 100%;
    padding: 10px;
    border: 1px solid #7a7a7a;
    border-radius: 3px 3px 0 0;
    background-color: #1a1a1a;
    font-size: 13px;
    line-height: 15px;
    overflow: scroll;
    max-height: 100%;
}

#sendMessageField {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#sendMessageInput::-webkit-input-placeholder {
    color: #6b6b6b;
}

#sendMessageInput:focus::-webkit-input-placeholder {
    color: #969696;
}

#sendMessageInput:hover {
    background-color: #404040
}

#sendMessageInput {
    width: 100%;
    height:20px;
    font-size: 13px;
    line-height: 20px;
    border: none;
    padding: 3px 10px 3px 5px;
    border-radius: 0 0 0 2px;
    background-color: #363636;
    color: white;
    -webkit-transition: background-color .25s;
    -webkit-transition: color .25s;
    -webkit-transition: height .25s;
    resize: none;
}

#sendMessageInput:focus {
    background-color: #4d4d4d;
    outline: none;
    height: 60px;
}

#sendMessageButton {
    font-size: 12px;
    background-color: #203f96;
    color: white;
    border: none;
    border-radius: 0 0 2px 0;
    line-height: 20px;
    -webkit-transition: background-color .25s;
}

#sendMessageButton:hover {
    background-color: #325bcf;
}

#sendMessageButton:focus {
    outline: none;
}

#sendMessageButton:active {
    background-color: #7a9cff;
}

.message {
    margin-bottom: 10px;
}

.message svg {
    fill: white;
    width: 10px;
    height: 10px;
    padding-right: 10px;
}

.userMessage {}

.userMessageContent {
    margin-top: 3px;
    margin-left: 20px;
}

.messagerUserName {
    font-weight: 700;
}

.gameMessage {}

.gameMessageSignificant {
    background-color: #f03b00;
    margin: 5px -10px 10px -10px;
    padding: 10px;
    display:flex;
    
}

.gameMessageSignificant svg {
}

.gameMessageSignificant div {
    display: inline-block;
    text-wrap: wrap;
    width: 100%;
}

.serverMessage {
    
}

#gameID {
    font-size: 13px;
    padding-top: 10px;
    color: #5c5c5c;
}

.row {
    display: flex;
}

.column {
    display: table-cell;
}

.cell {
    box-sizing: border-box;
    background-color: #e2e2e2;
    height: 50px;
    width: 50px;
    border-color: 1px solid grey;
    margin: 1px;
}

.black {
    animation-name: fill-black;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* transform-style: preserve-3d; */
}

.white {
    animation-name: fill-white;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
}

.not-played {
    border: 2px solid #cecece;
    background-color: #cecece;
    -webkit-transition: background-color .25s;
    -webkit-transition: border .25s;
}

.not-played:hover {
    background-color: #ced2e0;
    border: 2px solid #3464eb;
}

#loginContainer {
    width: 400px;
    border: 2px solid #757575;
    background-color: #212121;
    padding: 15px;
    border-radius:5px;
    display: block;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    min-width: 400px;
    margin-bottom: 20px;
}

#loginTitle {
    color: white;
    padding-left: 10px;
    margin: 10px 0;
    font-size: 20px;
}

#loginInfo {
    color: #c5c5c5;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
}

#welcomeMessage {
    color: #c5c5c5;
    padding: 0 10px;
    margin: 0;
    font-size: 14px;
}

#loginField {
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
}

#loginField::-webkit-input-placeholder {
    color: #6b6b6b;
}

#loginInput:focus::-webkit-input-placeholder {
    color: #969696;
}

#loginInput:hover {
    background-color: #404040
}

#loginInput {
    height:25px;
    font-size: 14px;
    line-height: 20px;
    border: none;
    padding: 2px 10px;
    border-radius: 4px 0 0 4px;
    background-color: #363636;
    color: white;
    -webkit-transition: background-color .25s;
    -webkit-transition: color .25s;
    resize: none;
}

#loginInput:focus {
    background-color: #4d4d4d;
    outline: none;
}

#loginButton {
    padding: 2px 10px;
    font-size: 14px;
    background-color: #203f96;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    line-height: 20px;
    -webkit-transition: background-color .25s;
}

#loginButton:hover {
    background-color: #325bcf;
}

#loginButton:focus {
    outline: none;
}

#loginButton:active {
    background-color: #7a9cff;
}

.loginError {
    color: #c5c5c5;
    padding-left: 10px;
    margin: 10px 0;
    font-size: 14px;
}

#topUserContainer {
    color: #c5c5c5;
    width: 400px;
    border: 2px solid #757575;
    border-radius: 5px;
    background-color: #212121;
    padding: 15px;
    display: block;
    padding: 15px;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    min-width: 400px;
    margin-top: 20px;
}

.topUser {
    display:flex;
    align-items: center;
    justify-content: space-between;
    line-height: 30px;
    margin: 5px 0 5px 0;
    font-size: 18px;
    padding: 10px;
    border-radius: 0 3px 3px 0;
    text-decoration:none;
}

.averageScore {
    border-radius: 20px;
    padding: 7px 10px;
    line-height:10px;
    font-size:10px;
    color:white;
    background-color: #e85757;
}

.gamesPlayed {
    border-radius: 20px;
    padding: 7px 10px;
    line-height:10px;
    font-size:10px;
    color:white;
    background-color: #656565;
}

#gameListContainer {
    border: 2px solid #757575;
    border-radius:5px;
    display: block;
    padding: 15px;
    background-color: white;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    min-width: 400px;
}

.gameChoice {
    display:flex;
    align-items: center;
    justify-content: space-between;
    line-height: 30px;
    margin: 5px 0 5px 0;
    font-size: 18px;
    padding: 10px;
    color:#3b3b3b;
    border-radius: 0 3px 3px 0;
    text-decoration:none;
    -webkit-transition: background-color .25s;
    -webkit-transition: padding-left .25s;
}

.gameChoice svg {
    width: 18px;
    height: 18px;
    margin-right: 20px;
}

.gameChoice:first-child {
    margin-top: 0;
}

.gameChoice:last-child {
    margin-bottom: 0;
}

.activeChoice svg {
    fill: #3b3b3b;
}

.inactiveChoice svg {
    fill: #d6d6d6;
}

.activeChoice:hover {
    color: #3464eb;
    border-left: 2px solid #3464eb;
    padding-left: 20px;
    background-color:#f2f2f2;
}

.svgHighlight, .svgBackground {
    -webkit-transition: fill .15s;
}

.activeChoice:hover svg .svgHighlight {
    fill: #3464eb;
}

.activeChoice:hover svg .svgBackground {
    fill: #aebde8;
}

.inactiveChoice {
    color: #d6d6d6;
}

.inactiveChoice:hover {
}

.playerNumber {
    border-radius: 20px;
    padding: 7px 10px;
    line-height:10px;
    font-size:10px;
    color:white;
    -webkit-transition: background-color .25s;
}

.activeChoice .playerNumber {
    background-color: #999999;
}

.inactiveChoice .playerNumber {
    background-color: #e8e8e8;
}

.activeChoice:hover .playerNumber {
    background-color: #3464eb;
}

/*KEYFRAME ANIMATIONS*/
@keyframes float {
    0% { transform: translatey(0px); }
    50% { transform: translatey(-10px); }
    100% { transform: translatey(0px); }
}

@keyframes shake1 {
    0% { transform: translate(10px); }
    20% { transform: translate(-10px); }
    40% { transform: translate(15px); }
    60% { transform: translate(-15px); }
    80% { transform: translate(8px); }
    100% { transform: translate(0px); }
}

@keyframes shake2 {
    0% { transform: translate(10px); }
    20% { transform: translate(-10px); }
    40% { transform: translate(15px); }
    60% { transform: translate(-15px); }
    80% { transform: translate(8px); }
    100% { transform: translate(0px); }
}

@keyframes fill-black {
    0% { background-color: #e2e2e2; }
    100% { background-color: #1a1a1a; }
}

@keyframes fill-white {
    0% { background-color: #e2e2e2; }
    100% { background-color: #fbfbfb; }
}


/*MEDIA QUERIES*/

/*Mobile*/

@media only screen and (max-width: 800px), only screen and (max-height: 500px) {
    .cell {
        height: 40px;
        width: 40px;
    }
}

@media only screen and (max-width: 700px), only screen and (max-height: 500px) {
    .cell {
        height: 35px;
        width: 35px;
    }
}

@media only screen and (max-width: 600px), only screen and (max-height: 500px) {
    #gameLog {
        display: none;
    }
}